/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#banner {
	background-color: #FFFFFF;
	height: 69px;
}

.header {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
}

.hname {
	padding-top: 13px;
	margin-left: 55px;
	font-size: 41px;
}

.hnav {
	float: right;
	margin-top: -24px;
}
.hnav ul li {
	display: inline-block;
	list-style: none;
}

#banner-intro {
	background-color: #ffb732;
	height: 577px;
}

.b-body {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
}

.banner-para {
	float: right;
	margin-top: -265px;
	margin-right: 115px;
	color: white;
}

.banner-para h1 {
	text-align: center;
}
.banner-para h3 {
	text-align: center;
}

.logo {
	padding-top: 98px;
	padding-left: 165px;
}

.banner-para {
	font-size: 3em;
}

#wwt {
	height: 681px;
	background: #FFFFFF;
}

.wwt-back {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
	padding-top: 110px;
}

.wwt-para {
	float: right;
	margin-right: 275px;
	text-align: center;
}
.wwt-para h1 {
	font-size: 3em;
}
.wwt-para h3 {
	font-size: 24px;
}

.wwt-icon {
	margin-top: 105px;
	margin-left: 281px;
}
.wwt-math img {
	margin-top: 41px;
	margin-left: -41px;
}
.wwt-math-para {
	width: 300px;
	margin-top: 5px;
	margin-left: -31px;
}

.wwt-eng img {
	margin-left: 70px;
}

.wwt-eng-para {
	float: right;
	width: 300px;
	margin-top: -65px;
	margin-right: 144px;
}

#about {
	background-color: #FAFAFA;
	height: 577px;
}

.about-img {
	margin-top: -28px;
}
.about-img img {
	margin-top: -27px;
}

.about-us {
	margin-top: -500px;
	width: 550px;
	margin-left: 550px;
}

.about-us h1 {
	font-size: 55px;
}

.about-us p {
	padding-top: 14px;
	color: grey;
}

.about-sect {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
}

#location {
	height: 577px;
}

.location-sec {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
	padding-top: 110px;
}

.location-map {
	text-align: center;
}

.location-map h1 {
	font-size: 50px;	
	float: right;
	margin-right: 300px;
}

/*=====================================================
				
				Math Program
				
=======================================================*/
#ma-banner {
	background-color: black;
	height: 69px;
}

.ma-header {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
}

.ma-hname {
	padding-top: 13px;
	margin-left: 55px;
	font-size: 41px;
	color: white;
}

.ma-hnav {
	float: right;
	margin-top: -24px;
}
.ma-hnav ul li {
	display: inline-block;
	list-style: none;
}

#math-body {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
}

.math-header {
	text-align: center;
	padding-top: 45px;
}

.math-header h1 {
	font-size: 115px;
}

.math-header h3 {
	font-size: 60px;
}

#math-bar {
	margin:0 auto;
	width: 100%;
	background-color: #F5F5F5;
	margin-top: 40px;
	border-top: 1px solid #D3D3D3;
	border-bottom: 1px solid #D3D3D3;
}

.math-listbar {
	height: 65px;
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
}

.math-listbar ul li {
	display: inline-block;
	margin-top: 26px;
}

.math-listbar ul li a {
	margin:0 20px;
}

#ma-overview {
	height: 520px;
	background-color:#ececec;
}

.ma-over-back {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
}

.ma-para {
	padding-top: 45px;
}
.ma-para h1 {
	font-size: 60px;
}

.ma-icon {
	float: right;
	margin-top: -61px;
	margin-right: 400px;
}

.ma-icon ul li {
	margin: 0 0 10px 0;
}

.ma-icon-para {
	float: right;
	margin-top: -58px;
	margin-right: -515px;

}

.ma-course {
	font-size: 28px;
	margin: 10px 0 62px 0;
}

#ma-package {
	height: auto;
	background-color: #ffb732;
}

.ma-pack {
	padding-top: 54px;
}

.ma-allpack {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
}

.ma-pack h1 {
	font-size: 78px;
	margin-bottom: 33px;
}

.ma-pack h3 {
	margin: 0;
	padding: 1.5rem 2rem 1.5rem 0;
	border-top: 1px solid #000;
}

.ma-c1 {
	margin-left: 30px;
}

.ma-c1 h1 {
	font-size: 53px;
}

.ma-p-body {
	margin-top: -27px;
	margin-left: 42px;
	margin-bottom: 25px;
}

.ma-c2 {
	margin-left: 30px;
}

.ma-c2 h1 {
	font-size: 53px;
}

.ma-p-body {
	margin-top: -27px;
	margin-left: 42px;
	margin-bottom: 25px;
}

.ma-c3 {
	margin-left: 30px;
}

.ma-c3 h1 {
	font-size: 53px;
}

.ma-p-body {
	margin-top: -27px;
	margin-left: 42px;
	margin-bottom: 25px;
}




