/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*==================================================
					

					1280px


==================================================*/
@media (min-width: 1280px){
/*==================================================
					BG
==================================================*/
.bg {
	background-color: #fec56d;
	margin:0 auto;
	float: none;
	height:679px;
}
.title {
	font-family:"Myriad Set Pro";
	color: white;
}

.title ul li {
	float: left;
	margin-top: 21px;
	margin-left: 27px;
}

.title ul li a {
	text-decoration:none;
	color: white;
}


.nav-bar ul {
	float: right;
	margin-top: -22px;
	margin-right: 81px;
}

.nav-bar ul li {
	display: inline-block;
}

#bar {
    height: 10px;
    border-bottom: 1px solid white;
    width: 240px;
	margin-left: 23px;
	padding-top: 33px;   
    }
  
.header {
	text-align: center;
	padding-top: 66px;
	color: white;
}

.logo img {
	width: 269px;
	margin-top:-35px;
}

.header h1 {
	font-size: 60px;
	padding-top: 5px;
}

.header h3 {
	font-size: 30px;
	padding-top: 5px;
}

.header p {
	padding-top: 10px;
	width: 800px;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-size: 24px;
}


/*==================================================
					About Us
==================================================*/
.aboutus{
	text-align: center;
	background: url('images/bg.jpg')no-repeat;
	opacity: .8;
	background-size: cover;
	height: 679px;
}

.about-us {
	padding-top: 60px;
	font-size: 55px;
	color: white;
}

.about-us img {
	margin-top: -18px;
	float: left;
	margin-left: 150px;
	width: 500px;
}

#name  {
	float: left;
	font-size: 38px;
	padding-top: 13px;
	margin-left: -70px;
}
#info {
	margin-top: 105px;
	float: left;
	font-size: 18px;
	margin-left: -302px;
	width: 350px;
	text-align: left;
}

.program {
	padding-top:500px;
}
}

/*Desktop Display*/

@media (min-width: 1105px){

/*==================================================
					BG
==================================================*/
.bg {
	background-color: #fec56d;
	margin:0 auto;
	float: none;
	height:1105px;
}
.title {
	font-family:"Myriad Set Pro";
	color: white;
}

.title ul li {
	float: left;
	margin-top: 21px;
	margin-left: 27px;
}

.title ul li a {
	text-decoration:none;
	color: white;
}


.nav-bar ul {
	float: right;
	margin-top: -22px;
	margin-right: 81px;
}

.nav-bar ul li {
	display: inline-block;
}

#bar {
    height: 10px;
    border-bottom: 1px solid white;
    width: 240px;
	margin-left: 23px;
	padding-top: 33px;   
    }
  
.header {
	text-align: center;
	padding-top: 66px;
	color: white;
}

.header h1 {
	font-size: 77px;
	padding-top: 46px;
}

.header h3 {
	font-size: 47px;
	padding-top: 33px;
}

.header p {
	padding-top: 20px;
	width: 800px;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-size: 24px;
}

/*==================================================
					About Us
==================================================*/
.aboutus{
	text-align: center;
	background: url('images/bg.jpg')no-repeat;
	opacity: .8;
	background-size: cover;
	height: 1110px;
}

.about-us {
	padding-top: 100px;
	font-size: 55px;
	color: white;
}

.about-us img {
	margin-top: 42px;
	float: left;
	margin-left: 410px;
}
#name  {
	margin-top: 95px;
	float: left;
	font-size: 38px;
}
#info {
	margin-top: 42px;
	float: left;
}

.program {
	padding-top:500px;
}
}

/*
.overlay {
   background: url('images/ss.jpg') no-repeat;
   position: fixed;
   opacity: .50;
   z-index: 10;
   margin: 0 auto;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   }*/

