/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#banner {
	background-color: #FFFFFF;
	height: 69px;
}

.header {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
}

.hname {
	padding-top: 13px;
	margin-left: 55px;
	font-size: 41px;
}

.hnav {
	float: right;
	margin-top: -24px;
}
.hnav ul li {
	display: inline-block;
	list-style: none;
}

#banner-intro {
	background-color: orange;
	height: 577px;
}

.b-body {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
}

.banner-para {
	float: right;
	margin-top: -265px;
	margin-right: 115px;
	color: white;
}

.banner-para h1 {
	text-align: center;
}
.banner-para h3 {
	text-align: center;
}

.logo {
	padding-top: 98px;
	padding-left: 165px;
}

.banner-para {
	font-size: 3em;
}

#wwt {
	height: 681px;
	background: #FFFFFF;
}

.wwt-back {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
	padding-top: 110px;
}

.wwt-para {
	float: right;
	margin-right: 275px;
	text-align: center;
}
.wwt-para h1 {
	font-size: 3em;
}
.wwt-para h3 {
	font-size: 24px;
}

.wwt-icon {
	margin-top: 105px;
	margin-left: 281px;
}

#about {
	background-color: #FAFAFA;
	height: 577px;
}

.about-img {
	margin-top: -28px;
}

.about-us {
	margin-top: -500px;
	width: 550px;
	margin-left: 550px;
}

.about-us h1 {
	font-size: 55px;
}

.about-us p {
	padding-top: 14px;
	color: grey;
}

.about-sect {
	margin:0 auto;
	max-width: 1080px;
	width: 100%;
}










